doctype
html(lang='es')
	head
		title pug desde cero
		meta(charset="utf8")
		meta(name='viewport',content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0')
		link(rel='stylesheet' href='css/index.css')
	body
		
		nav(class='main__nav')
			div(class='container__menu')
				ul(class='main__menu')
					li(class='menu__item')
						a(href='index.html' class="menu__link") Inicio
					li(class='menu__item')
						a(href='index.html' class="menu__link") Proyectos
					li(class='menu__item')
						a(href='index.html' class="menu__link") Mensajes
					li(class='menu__item --featured' )
						a(href='index.html' class="menu__link" id='menu__link-js') Nosotros
						ul(class='sub__menu' id='sub__menu-js')
							li(class='sub__item') subitem
							li(class='sub__item') subitem
							li(class='sub__item') subitem
							li(class='sub__item') subitem
							li(class='sub__item') subitem
							li(class='sub__item') subitem

				

	 
		
		 
	



	
	










		script(src='javascript/index.js')













			

